<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-center">{{title}}</h1>
            <hr class="my-4">
        </div>

        <ul class="nav justify-content-center nav-pills" *ngIf="!loading">
            <li class="nav-item">
                <div class="form-group">
                    <input class="form-control" #search placeholder="Search" (change)="searchRecords(search.value)"/>
                </div>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Estimated Hour Status
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="full" (change)="updateFilters($event, 'employeeType')" [checked]="true">
                                30+ hrs/wk
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="half" (change)="updateFilters($event, 'employeeType')" [checked]="true">
                                20-29 hrs/wk
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="part" (change)="updateFilters($event, 'employeeType')" [checked]="true">
                                &#60;20 hrs/wk
                            </label>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        County Name
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="beaver" (change)="updateFilters($event, 'county')">
                                Beaver
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="boxelder" (change)="updateFilters($event, 'county')">
                                Box Elder
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="cache" (change)="updateFilters($event, 'county')">
                                Cache
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="carbon" (change)="updateFilters($event, 'county')">
                                Carbon
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="daggett" (change)="updateFilters($event, 'county')">
                                Daggett
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="davis" (change)="updateFilters($event, 'county')">
                                Davis
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="duchesne" (change)="updateFilters($event, 'county')">
                                Duchesne
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="emery" (change)="updateFilters($event, 'county')">
                                Emery
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="garfield" (change)="updateFilters($event, 'county')">
                                Garfield
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="grand" (change)="updateFilters($event, 'county')">
                                Grand
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="iron" (change)="updateFilters($event, 'county')">
                                Iron
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="juab" (change)="updateFilters($event, 'county')">
                                Juab
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="kane" (change)="updateFilters($event, 'county')">
                                Kane
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="millard" (change)="updateFilters($event, 'county')">
                                Millard
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="morgan" (change)="updateFilters($event, 'county')">
                                Morgan
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="piute" (change)="updateFilters($event, 'county')">
                                Piute
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="saltlake" (change)="updateFilters($event, 'county')">
                                Salt Lake
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="sanjuan" (change)="updateFilters($event, 'county')">
                                San Juan
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="sanpete" (change)="updateFilters($event, 'county')">
                                Sanpete
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="sevier" (change)="updateFilters($event, 'county')">
                                Sevier
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="summit" (change)="updateFilters($event, 'county')">
                                Summit
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="tooele" (change)="updateFilters($event, 'county')">
                                Tooele
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="uintah" (change)="updateFilters($event, 'county')">
                                Uintah
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="utah" (change)="updateFilters($event, 'county')">
                                Utah
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="wasatch" (change)="updateFilters($event, 'county')">
                                Wasatch
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="washington" (change)="updateFilters($event, 'county')">
                                Washington
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="wayne" (change)="updateFilters($event, 'county')">
                                Wayne
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="weber" (change)="updateFilters($event, 'county')">
                                Weber
                            </label>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customSummaryModal">Custom Summary</button>
            </li>
        </ul>
    </div>

    <div *ngIf="!loading">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>County</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Pay Rate</th>
                    <th>Salary</th>
                    <th>Benefits</th>
                    <th>Other</th>
                    <th>Total Compensation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of filteredDataSet">
                    <td>{{record.id}}</td>
                    <td>{{countyNames[record.county]}}</td>
                    <td>
                        <a href="#" (click)="showDetailModal(record.title)" data-toggle="modal" data-target="#detailModal">{{record.title}}</a>
                    </td>
                    <td>{{employeeTypes[record.employeeType]}}</td>
                    <td>{{record.payRate | currency}}</td>
                    <td>{{record.salary | currency}}</td>
                    <td>{{record.benefits | currency}}</td>
                    <td>{{record.bonus | currency}}</td>
                    <td>{{record.totalCompensation | currency}}</td>
                    <td><input class="form-check-input" type="checkbox" (change)="toggleRecordSelect(record)" [checked]="record.selected"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalData.jobTitle}}*</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Average Rate</th>
                            <th>Average Salary</th>
                            <th>Average Benefits</th>
                            <th>Average Bonus</th>
                            <th>Average Total Compensation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of modalData.averages">
                            <th>{{record.name | titlecase}}</th>
                            <td>{{record.payRate  | number:'1.0-2'}}</td>
                            <td>{{record.salary  | number:'1.0-2'}}</td>
                            <td>{{record.benefits  | number:'1.0-2'}}</td>
                            <td>{{record.bonus  | number:'1.0-2'}}</td>
                            <td>{{record.totalCompensation  | number:'1.0-2'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <p>*Calculations based on current filter settings</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="customDetailModal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalData.jobTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Average Rate</th>
                            <th>Average Salary</th>
                            <th>Average Benefits</th>
                            <th>Average Bonus</th>
                            <th>Average Total Compensation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of modalData.averages">
                            <th>{{record.name | titlecase}}</th>
                            <td>{{record.payRate  | number:'1.0-2'}}</td>
                            <td>{{record.salary  | number:'1.0-2'}}</td>
                            <td>{{record.benefits  | number:'1.0-2'}}</td>
                            <td>{{record.bonus  | number:'1.0-2'}}</td>
                            <td>{{record.totalCompensation  | number:'1.0-2'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="customSummaryModal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Custom Summary</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="useSelected" #useAll id="useAll" value="false" checked>
                    Use all records in filtered view
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="useSelected" #useSelected id="useSelected" value="true">
                    Use only selected records in filtered view
                </label>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="showCustomSummaryModal(useSelected.checked)" data-dismiss="modal" data-toggle="modal" data-target="#customDetailModal">Show Summary</button>
            </div>
        </div>
    </div>
</div>
